@charset "shift_jis";



body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 80%;
	line-height: 2;
	color: #111111;
	background-color: #000000;
	background-image: url(image/background.png);
	margin: 0px;
	padding: 0px;
	text-align: center;
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}

img {
	border: none;
}

input,textarea,select {
	font-size: 1em;
}

form {
	margin: 0px;
}

table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}



a {
	color: #111111;
}
td a {
	color: #111111;	
	text-decoration: none;
}
td a:hover {
	color: #eeeeee;	
	background-color: #111111;
	text-decoration: none;
}

a:hover {
	color: #FF0000;			
	text-decoration: none;	
}


#contents {
	width: 1020px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	/*background-color: #FFFFFF;*/
}



#koukoku {
	background-image: url(image/titlelogo.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 310px;
	margin: 0 auto;
}

#togetterlink{
	font:bold 24px "メイリオ","ＭＳ ゴシック";
	z-index:2;
	left : 493px;
	top : 130px;
	position:relative;
}


/*メインメニュー設定
---------------------------------------------------------------------------*/


#ID {
padding-top:0px;
padding-left: 123px;
width:75em;
height:4em;  
margin: 0; 

white-space:nowrap;
}
#ID ul { 
margin: 0; 
padding-top:30px;
padding :0; 
list-style-type : none; 
}
#ID li { 
display : inline; 
padding :0; 
margin:0; 
float:left ;
}
#ID a {
display:block; 
border:2px solid #111;
background-color:#eee;
font-size:large;
padding:1px 0px 1px 0px;
text-decoration:none;
color:#111;width:7em; 
height:2.0em;
width:10.0em;
margin:0px 5px; 
text-align:center;
	opacity: 0.9;
	filter: alpha(opacity=90);/*IE7*/
}
#ID a:hover {
display:block; 
border:2px solid #333;
background-color:#111;
font-size:large;
padding:1px 0px 1px 0px;
text-decoration:none;
color:#eee;
height:2.0em;
width:10.0em;
text-align:center;
}


/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
#main .new {
	overflow: auto;
	height: 150px;			/*ボックスの高さ*/
	width: 752px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 0.5em;
}

#main .new dl {
	clear: left;
	width: 732px;
	border-bottom: 1px solid #eeeeee;	/*日付ごとに入る下線の幅、線種、色*/
	overflow: hidden;
}

#main .new dt {
	font-weight: bold;	/*日付を太字に*/
	float: left;
	width: 100px;
}

#main .new dd {
	float: left;
	width: 632px;
}

#main .new dd img {
	vertical-align: middle;
}

/*IE6用*/
*html #main .new dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}



/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	clear: left;
	width: 772px;		/*メインコンテンツ幅*/
	padding-top: 30px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	opacity: 0.9;
	filter: alpha(opacity=90);/*IE7*/
}

/*h2タグ設定*/
#main h2 {
	font-size: 150%;	/*文字サイズ*/
	border-top: 3px double #FFFFFF;		/*上の線の幅、線種、色*/
	border-bottom: 3px double #FFFFFF;	/*下の線の幅、線種、色*/
	background-image: url(images/title_bg1.jpg);	/*背景画像*/
	background-repeat: no-repeat;					/*背景画像をリピートしない*/
	background-position: right center;				/*背景画像を右側、上下中央に表示*/
	padding: 10px;	/*余白*/
	background-color: #191919;	/*背景色*/
	color : #eeeeee;
}

/*段落タグの余白設定*/
#main p {
	padding: 0.5em 10px 1em;
}



/*フッター
---------------------------------------------------------------------------*/
#footer {
	text-align: center;	/*中のテキストをセンタリング*/
	clear: both;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*フッター内にリンク設定した場合用*/
#footer a {
	text-decoration: none;
}



/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 772px;
}

.ta1, .ta1 td, .ta1 th{
	border: 1px solid #FFFFFF;	/*枠線の幅と線種と色*/
}

/*テーブル内の右側*/
.ta1 td{
	width: 529px;				/*幅*/
	padding: 10px;	/*テーブル内の余白*/
}

/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 200px;				/*幅*/
	padding: 10px;	/*テーブル内の余白*/
	text-align: center;			/*文字をセンタリング*/
	background-color: #191919;	/*背景色*/
}

/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background-color: #FFF100;	/*背景色*/
	color: #000000;				/*文字色*/
}

/*テーブル１行目に入った見出し部分にリンクを設定した場合用*/
.ta1 th.tamidashi a {
	color: #FFFFFF;
}




/*その他
---------------------------------------------------------------------------*/
.look {
	background-color: #333333;
}

.mb1em {
	margin-bottom: 1em;
}

.clear {
	clear: both;
}

ul.disc {
	padding: 0.5em 10px 0.5em 25px;
	list-style: disc;
}

.color1 {
	color: #FF0000;
}

.name{
	text-align: center;
	font-size:16px;
	font-weight:bold;
}
.title{
	font-size:16px;
	font-weight:bold;
}
.kugiri{
	font-size:14px;
	font-weight:bold;
}
.tweets{
color:#111;
font-size:16px;
text-shadow:-1px -1px 3px #eee,-1px -1px 3px #eee,1px 1px 3px #eee,1px 1px 3px #eee,0px 0px 3px #eee,0px 0px 3px #eee,4px 4px 3px #111;
line-height:20px;
}
.tweets1{
color:#111;
font-size:8px;
text-shadow:-1px -1px 3px #eee,-1px -1px 3px #eee,1px 1px 3px #eee,1px 1px 3px #eee,0px 0px 3px #eee,0px 0px 3px #eee,1px 1px 1px #111;
line-height:10px;
}
.tweets2{
color:#111;
font-size:12px;
text-shadow:-1px -1px 3px #eee,-1px -1px 3px #eee,1px 1px 3px #eee,1px 1px 3px #eee,0px 0px 3px #eee,0px 0px 3px #eee,2px 2px 1px #111;
line-height:14px;
}
.tweets3{
color:#111;
font-size:16px;
text-shadow:-1px -1px 3px #eee,-1px -1px 3px #eee,1px 1px 3px #eee,1px 1px 3px #eee,0px 0px 3px #eee,0px 0px 3px #eee,4px 4px 3px #111;
line-height:20px;
}
.tweets4{
color:#111;
font-size:24px;
text-shadow:-1px -1px 3px #eee,-1px -1px 3px #eee,1px 1px 3px #eee,1px 1px 3px #eee,0px 0px 3px #eee,0px 0px 3px #eee,10px 10px 6px #111;
line-height:28px;
}
.tweets5{
color:#111;
font-size:36px;
text-shadow:-1px -1px 3px #eee,-1px -1px 3px #eee,1px 1px 3px #eee,1px 1px 3px #eee,0px 0px 3px #eee,0px 0px 3px #eee,16px 16px 9px #111;
line-height:40px;
}
.tweets6{
color:#111;
font-size:48px;
text-shadow:-1px -1px 3px #eee,-1px -1px 3px #eee,1px 1px 3px #eee,1px 1px 3px #eee,0px 0px 3px #eee,0px 0px 3px #eee,20px 20px 15px #111;
line-height:52px;
}