@import url("https://fonts.googleapis.com/earlyaccess/mplus1p.css");
@import url("https://unpkg.com/basscss@8.0.2/css/basscss.min.css");

body {
  font-family: "Mplus 1p", sans-serif;
}

.right, .left {
  float: initial;
}

.container .image.fit {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
